/* ===== HERO AND HEADER ===== */
. section-hero {
  
}


body {
  background:orange;
  font-family:sans-serif
}
h1 {
  text-align:center;
  font-style:italic
}
#header {
  background-color:#33ccff;
  margin-bottom:10px;
}
