body {
  background-position: center;
}

/* ===== HERO AND HEADER ===== */
.section-hero {
background-position: center;
background-size: 100%;
background-color: tomato;
padding-top: 5em;
padding-bottom: 5em;
margin-bottom: .5em;
}

.section-heading {
  text-align: center;
  padding: .5em;
  margin: auto;
  color: white;
}

/* ===== BLOG CONTENT =====*/
#menu {
  height: 500px;
  background-color: white;
  margin: auto;
}

#columns {
  margin: auto;
}

.button-primary {
  width: 500px;
  height: 450px;
}

/* ===== FOOTER =====*/
.section-footer {
  height: 100px;
  background-color: tomato;
}
